<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me">
	<select id="login" resultType="member.MemberVO">
		SELECT *
		FROM HANUL_MEMBER
		WHERE USER_ID = #{user_id} 
		<if test="social == null">
			AND USER_PW = #{user_pw}
		</if>
	
	
	</select>
	<insert id="join">
	INSERT INTO HANUL_MEMBER( USER_ID, USER_PW, NAME, EMAIL , ADDRESS , POST )
                    VALUES(  #{user_id}, #{user_pw}, #{name}, #{email} , #{address} , #{post}  )
	
	</insert>
</mapper>